p {
	font-family: arial;
	font-size: 20px;
	line-height: 25px;
	text-indent: 40px;
	letter-spacing: 1px;
	word-spacing: 5px;
}
.bg-box {
	width: 1280px;
	height: 720px;
	background-color: #008000;
	background-image: url(../img/dom.jpg), url(../img/grass.png), url(../img/lamp.png), url(../img/Ёжик.png), url(../img/donate.png);
	background-position: center, bottom, top, left, right;
	background-size: auto auto, 300px auto, 30px 50px, 30px 30px, 30px 30px; 
	background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
}
div[class^='box'] {
        width: 100px;
        height: 100px;
}
.box1 {
	background: repeating-linear-gradient(180deg, #008000, #008000 10px, #FFFFFF 10px, #FFFFFF 20px);
}
.box2 {
	background: repeating-linear-gradient(to bottom right, #000000, #000000 30px, #C0C0C0 30px, #C0C0C0 110px);
}
.box3 {
	background: repeating-radial-gradient(circle, #FF0000, #FF0000 15px, 	#800000 15px, 	#800000 100px)
}
.lion {
	width: 600px;
	height: 480px;
	background: url(../img/лев.png), linear-gradient(to top right, rgb(113,166,207), rgb(189,254,167));
	background-repeat: no-repeat;
	background-position: center;
}